.images {
    padding-top: 2.2cm;
    padding-bottom: 0.5cm;
    display: flex;
    width: 99vw;
}

.im1 {
    padding-left: 3.5vw;
    display: grid;
}

.image1 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}

.image2 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}

.im2 {
    display: grid;
    margin-left: 20px;
}

.image3 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}

.image4 {
    width: 30vw;
    border-radius: 30px;
}

.im3 {
    display: grid;
    margin-left: 20px;
}

.image5 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}
.image6 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}
.image7 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}
.image8 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px;
}

.image9 {
    width: 30vw;
    border-radius: 30px;
    margin-bottom: 20px !important;
}