.signup {
    display: grid;
    place-items: center;
    height: 100vh;
}

.spform {
    padding-top: 20px;
    width: 50vw;
    min-width: 400px;
    height: max-content;
    min-height: 410px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.spform1{
    display: grid;
    place-items: center;
}

.spform > h1 {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0%;
}

.logo-login {
    width: 300px;
}

.spfooter{
    padding-bottom: 10px;
    display: flex;
}